* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.022em;
    background-color: #f4f5f6;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    font-weight: bold;
    background-color: #f4f5f6;
    color: #333;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-block;
    vertical-align: top;
}

.logo img {
    height: 20px;
    width: auto;
    margin-right: 20px;
}

nav {
    display: inline-block;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(11, 11, 12);
    font-size: 13px;
}

div.main {
    width: 600px;
    margin: 100px auto 0px auto;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: rgba(43, 42, 42, 0.897);
    margin-bottom: 40px;
}

div.profile {
    padding: 20px;
    width: 600px;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: 12px 13px 13px 13px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.profile-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile-item label {
    margin-bottom: 5px;
}

.profile-item input[type="text"] {
    width: 300px;
    height: 35px;
    margin-left: 25px;
    font-size: 28px;
    margin-bottom: 15px;
    outline: none;
    border: 1px;
    box-shadow: 0 1 2px blue;
    padding: 10px;
}

label {
    margin-left: 32px;
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

span {
    margin-left: 25px;
    font-size: 28px;
    margin-bottom: 15px;
}

button {
    border-radius: 10px;
    padding: 10px 30px;
    border: none;
    background-color: rgba(16, 93, 236, 0.979);
    color: rgba(250, 249, 249, 0.925);
    width: 130px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 400px;
    text-align: center;
}

h3 {
    margin-top: 70px;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin-left: 300px;
    color: rgba(43, 42, 42, 0.897);
    margin-bottom: 40px;
}
